body, html {
    padding: 0;
    margin: 0;
    color: white;
    background-color: rgb(31, 31, 31);
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 580px) {
  .tile {
    height: 50px !important;
    width: 50px !important;
  }

  .row-container {
      flex-direction: column;
      width: 25% !important;
  }

  .leaderboard-container {
    flex-direction: column !important;
  }

  .leaderboard-container hr {
    width: 100%;
  }

  .leaderboard-scroll {
      font-size: .75em !important;
  }
}

@media only screen and (max-height: 400px) {
  .tile {
    height: 50px !important;
    width: 50px !important;
  }

  .timer {
      height: 10px !important;
  }
  .timer-container {
      height: 10px !important;
  }

  .title {
      margin-top: 5px!important;
  }

  .leaderboard-scroll {
      display: none !important;
  }
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.game-container {
    height: 100vh;
    width: 100%;
    max-width: 1300px;
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.difficulty {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.board-container {
    height: 60%;
    width: 80%;
    background-color: rgb(100, 100, 100);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: 0px 0px 5px 5px rgb(0, 0, 0, .2);
}

.tile {
    width: 100px;
    height: 100px;
    background-color: rgb(170, 170, 170);
    box-shadow: 0px 0px 5px 5px rgb(0, 0, 0, .2);
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}

.row-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.failed::before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    opacity: 0.5;
    background-color: #f26d6d;
}

.timer {
    width: 100%;
    height: 100%;
    background-color: red;
}

.timer-container {
    width: 80%;
    height: 30px;
    border: solid red;
}

.modal {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    visibility: visible;
}

.form {
    position: relative;
    background-color: rgb(100, 100, 100);
    width: 25%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form button {
    margin-top: 10px;
}

.close {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    padding: 5px
}

.leaderboard {
    width: 90vw;
    text-align: center;
}

.leaderboard-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.leaderboard-container li {
    text-align: justify !important;
    width: 100%;
    padding: 0;
}

.leaderboard-scroll {
    position: absolute;
    bottom: 15px;
    color:rgb(150, 150, 150);
    font-size: 1.5em;
    font-weight: bold;
}